# Gradle
.gradle/
/build

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws
/build

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath
.fleet

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
